<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="/anonymous.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>Express</title>
    <style>
        body {
            background: #1f4037;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }
        
        h1 {
          color: black;
          text-align: center;
          font-family: 'Style Script', cursive;
          font-size: 300px;
        }
        </style>
</head>
<body>
    <div >
        <nav  class="navbar navbar-expand-sm bg-light navbar-light">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="Home.html">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="OurServices.html">OUR SERVICES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="ContactUs.html">CONTACT US</a>
              </li>
            
            </ul>
          </nav>
          
          <!-- Black with white text -->
          <nav class="navbar navbar-expand-sm bg-dark navbar-dark">...</nav>
          
          <!-- Blue with white text -->
          <nav class="navbar navbar-expand-sm bg-primary navbar-dark">...</nav>
    </div>

    <h1>contact us</h1>
    <div style='text-align: center; margin-top: 60px; padding: 10px;'>
      <a href="https://www.facebook.com/jihed.laribi.92/"> <i style="padding: 10px;" class="fab fa-facebook-square fa-2x"></i></a> 
      <a href="https://www.instagram.com/">   <i class="fab fa-instagram-square fa-2x"></i></a>
      <a href="https://www.youtube.com/" > <i  style="padding: 10px;" class="fab fa-youtube fa-2x"></i></a> 
    </div>
</body>
</html>
</html>